*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
   
}

#title{
    background-color: aqua;
    height: 500px;
    width: 100%;
    padding: 10px;
    border: 5px solid #000; 
    
   
}