*{
    margin: 0;
}


.box{
    
    width: 160px;
    height: 160px; 
    display: inline-block;  
    margin-top: 50px;   
}
#first{
    background-color: red;   
}
#second{
    background-color: green;
    visibility: hidden;
}
#third{
    background-color: blue;
}

a{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: blueviolet;
}